@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
 background:aqua;
 color:white;
}


.navbar {
  background-color: white;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position:relative;         /*  These two*/      
  width: 100%;              /*  makes it sticky on top*/
} 



.border-button {
  border-bottom: solid 0px #FC5185;
  transition: border-width 0.2s linear;
}

.border-button:hover { border-bottom-width: 2px; }